extends layout

block content
    h1= title
    p You can reach out to us via email at
        a(href='mailto:contact@example.com') contact@example.com.
    p
        a(href='/') Home
    p
        a(href='/about') About Us 