extends layout

block content
  h1= title
  p This site is dedicated to providing you with the latest information on a variety of topics.
  ul
    li
      a(href='/about') About
    li
      a(href='/contact') Contact